.Button {
  color: white;
  background-color: #5587e3;
  border: 1px solid #5587e3;
  font: inherit;
  font-size: 1.25rem;
  padding: 0.8rem 2rem;
  border-radius: 1.7rem;
  cursor: pointer;
  outline: none;
}

.Button:disabled {
  cursor: not-allowed;
}

.Button:focus {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #71c9f8;
}

.Button:hover,
.Button:active {
  background-color: #006dbf;
  border-color: #006dbf;
}

.Button:active {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #5587e3;
}
